/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-qd2aj9m8qe] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qd2aj9m8qe] {
    flex: 1;
}

.sidebar[b-qd2aj9m8qe] {
    background-color: white;
}

.top-row[b-qd2aj9m8qe] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qd2aj9m8qe]  a, .top-row[b-qd2aj9m8qe]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-qd2aj9m8qe]  a:hover, .top-row[b-qd2aj9m8qe]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qd2aj9m8qe]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-qd2aj9m8qe] {
        display: none;
    }

    .top-row.auth[b-qd2aj9m8qe] {
        justify-content: space-between;
    }

    .top-row[b-qd2aj9m8qe]  a, .top-row[b-qd2aj9m8qe]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qd2aj9m8qe] {
        flex-direction: row;
    }

    .sidebar[b-qd2aj9m8qe] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qd2aj9m8qe] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qd2aj9m8qe]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qd2aj9m8qe], article[b-qd2aj9m8qe] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-o6mx9bwrvr] {
    background-color: rgba(8, 36, 84);
    background-color: transparent;
    border: none;
    margin-bottom: 6%;
}

.top-row[b-o6mx9bwrvr] {
    height: 3.5rem;
}

.titleApp[b-o6mx9bwrvr]{
    font-family: 'Gotham-Bold';
    font-weight: bold;
}

.navbar-dark .navbar-toggler-icon[b-o6mx9bwrvr]{
    background-image: url("../wwwroot/icon-192.png")
}

.navbar-brand[b-o6mx9bwrvr] {
    font-size: 1.1rem;
    margin-right: 0;
}

.navbar-brand[b-o6mx9bwrvr][b-o6mx9bwrvr] {
    font-size: 1.1rem;
    width: 80%;
}

nav.flex-column[b-o6mx9bwrvr] {
    margin-top: 38%;
    margin-bottom: 16%;
    background-color: white;
    font-weight: bold;
    font-family: 'Gotham';
}

.navbar-dark .navbar-brand[b-o6mx9bwrvr] {
    color: rgba(8, 36, 84);
}

.nav-link[b-o6mx9bwrvr]{
    color: black;
    text-align: center;
    font-size: 18px;
    margin: 3%;
}

.nav-pills .nav-link.active[b-o6mx9bwrvr] {
    background-color: #ff5404;
    color: black;
    border-radius: 30px;
    width: 85%;
    margin: auto;
}

.nav-item[b-o6mx9bwrvr] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-o6mx9bwrvr] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-o6mx9bwrvr] {
        padding-bottom: 1rem;
    }

    .nav-item[b-o6mx9bwrvr]  a {
        color: black;
        background-color: black;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-o6mx9bwrvr]  a.active {
            background-color: rgba(8, 36, 84);
            color: white;
        }

        .nav-item[b-o6mx9bwrvr]  a:hover {
            background-color: rgba(255, 84, 4);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-o6mx9bwrvr] {
        display: none;
    }

    .collapse[b-o6mx9bwrvr] {
        display: block;
    }
}

