@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu></NavMenu>
    </div>

    <main>
        <article class="content px-0 pt-0">
            @Body
        </article>
    </main>
    <div class="container" style="background-color: #062455;">
        <footer class="py-3 my-4">
            <div class="row row-cols-1">
                <div class="col">
                    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #FF6900;">Home</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #FF6900;">FAQs</a></li>
                        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted" style="color: #FF6900;">Contact</a></li>
                    </ul>
                </div>
                <div class="col justify-content-center text-center">
                    <button class="btn btn-primary w-50">Cookie Crunchers</button>
                </div>
                <div class="col">
                </div>
            </div>
        </footer>
    </div>
</div>
<p class="text-center">© 2023 Talent-It Group, Inc</p>
