@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div id="video">
    <video preload="auto" autoplay loop muted>
        <source src="https://www.talent-it.be/wp-content/uploads/2023/03/TalentIT_comp1_540p.mp4" type="video/mp4" />
    </video>
</div>

<div class="page">
    
    <NavMenu/>
    
    <main>
        
        <article class="content px-0 pt-0">
            @Body
        </article>
    </main>
    <div class="container mt-5 background-container">
        <footer class="py-3 my-4">
            <div class="row row-cols-1">
                <div class="col justify-content-center text-center">
                    <button class="btn btn-primary w-50 mt-3 button-style">
                        <a id="linkCookieCrunchers" href="https://www.cookiecrunchers.be/">Cookie Crunchers</a>
                    </button>
                </div>
                <div class="col justify-content-center text-center p-0 mt-5 text-style">
                    <p class="mb-0">Houtdok-Noordkaai</p>
                    <p class="mb-0">122030 Antwerpen</p>
                    <p class="mb-0">+32 3 870 51 51</p>
                    <p class="mb-0 underline-style">
                        <a id="mail" href="mailto:your@email.com">info@cookiecrunchers.be</a>
                    </p>
                </div>
                <div class="col justify-content-center text-center p-0 mt-5 mb-5">
                    <h3 class="mt-5 mb-0 bold-style">Powerd By</h3>
                    <a href="https://www.talent-it.be/">
                        <img class="w-25 h-50" src="/images/TIT_Group.png" alt="Talent-It-Group" />
                    </a>
                </div>
            </div>
        </footer>
    </div>
</div>
