<div class="sidebar" style="@navStyle">
@if(collapseNavMenu){
    <div class="top-row ps-3 navbar navbar-light" style="background-color:transparent">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <p class="titleApp">STUDY GUIDANCE</p>
            </a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
}
else
{
    <div class="top-row ps-3 navbar navbar-light" style="background-color:white">
        <div class="container-fluid">
            <a class="navbar-brand" href="">
                <p class="titleApp">STUDY GUIDANCE</p>
            </a>
            <button title="Navigation menu" class="navbar-toggler" style="background-color:#ff5404" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
}


    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div >
                <a class="nav-link" href="" Match="NavLinkMatch.All" aria-hidden="true">HOME</a>
            </div>
            <div>
                <a class="nav-link" href="FAQ" aria-hidden="true">FAQ</a>
            </div>
            <div >
                <a class="nav-link" href="https://www.cookiecrunchers.be/" aria-hidden="true">COOKIE CRUNCHERS</a>
            </div>
            <div class="nav flex-column nav-pills">
                <a class="nav-link active" href="ContactPage" aria-selected="true">CONTACT US</a>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string navStyle = "width: 100%;";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;

        navStyle = collapseNavMenu ? "width: 100%;" : "height: 100vh;";

        
    }
}
