<div class="card text-white bg-custom-color">
	<div class="card-body">
		<div class="card text-black">
			<div class="card-body">
				<h1>MASTER</h1>
			</div>
		</div>
		<div class="card text-black">
			<div class="card-body">
				<h1>BACHELOR</h1>
			</div>
		</div>
		<div class="card text-black">
			<div class="card-body">
				<h1>GRADUAAT</h1>
			</div>
		</div>
		<div class="card text-black">
			<div class="card-body">
				<h1>ANDERE...</h1>
			</div>
		</div>
		<p class="text-black">Heb je een master, bachelor, graduaat of andere in IT?</p>
	</div>
</div>

@code {

}
