.navbar-toggler[b-o6mx9bwrvr] {
    background-color: rgba(8, 36, 84);
    background-color: transparent;
    border: none;
}

.top-row[b-o6mx9bwrvr] {
    height: 3.5rem;
    background: linear-gradient(45deg, rgba(255,84,4,0.8156512605042017) 20%, rgba(8,36,84,0.6811974789915967) 67%);
}


.navbar-brand[b-o6mx9bwrvr] {
    font-size: 1.1rem;
    margin-right: 0;
}

.oi[b-o6mx9bwrvr] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.navbar-brand[b-o6mx9bwrvr][b-o6mx9bwrvr] {
    font-size: 1.1rem;
    width: 80%;
}

nav.flex-column[b-o6mx9bwrvr] {
    background: linear-gradient(45deg, rgba(255,84,4,0.8156512605042017) 45%, rgba(8,36,84,0.6811974789915967) 85%);
}

.navbar-dark .navbar-brand[b-o6mx9bwrvr] {
    color: rgba(8, 36, 84);
}

.nav-item[b-o6mx9bwrvr] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-o6mx9bwrvr] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-o6mx9bwrvr] {
        padding-bottom: 1rem;
    }

    .nav-item[b-o6mx9bwrvr]  a {
        color: #082454;
        background-color: #ff5404;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-o6mx9bwrvr]  a.active {
            background-color: rgba(8, 36, 84);
            color: white;
        }

        .nav-item[b-o6mx9bwrvr]  a:hover {
            background-color: rgba(255, 84, 4);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-o6mx9bwrvr] {
        display: none;
    }

    .collapse[b-o6mx9bwrvr] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

