body {
}

#controlPanel {
    background-color: white;
    position: relative;
}

h4 {
    color: #FF6900;
}

a {
    text-decoration: none;
    color: #E93A3A;
    font-weight: bold;
    font-size: 16px;
}

#hrButton {
    color: #E93A3A;
    margin-bottom: 3%;
    height: 1.8px;
    width: 20%;
}

#logoutButton {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
}
