@page "/controlpanel"

<div id="controlPanel" class="vh-100">
	<h4 class="text-center pt-4">CONTROL PANEL</h4>
	<hr class=" mt-0 mx-auto w-25 carousel-hr" />
	<ControlPanelOverviewCard></ControlPanelOverviewCard>
	<a>AFMELDEN</a>
</div>


