@page "/FAQ"

<div class="vh-100" style="background-color: white">
    <h4 style="padding-top: 5%; padding-left: 5%; margin-bottom: 0">Algemene vragen</h4>

	<MudExpansionPanels Class="p-4">
        <MudExpansionPanel Text="Wat is de bedoeling van deze app?" MaxHeight="500" Style="background-color: #FE5500; color: white">
            Onze app is ontworpen om je te helpen bij het vinden van een geschikte baan door middel van een gepersonaliseerde quiz en het bieden van gerelateerde studierichtingen.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Zijn er kosten verbonden aan het gebruik van de app?" MaxHeight="500" Style="background-color: #FE5500; color: white">
            Nee, de app is gratis te gebruiken voor alle gebruikers.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Zijn de resultaten accuraat?" MaxHeight="500" Style="background-color: #FE5500; color: white;">
            We streven naar nauwkeurigheid door gebruik te maken van geavanceerde algoritmes die je antwoorden analyseren en relevante beroepen en studierichtingen suggereren. Echter, het blijft belangrijk om de resultaten te zien als richtlijnen en niet als absolute beslissingen.
        </MudExpansionPanel>

    </MudExpansionPanels>

    <h4 style="padding-top: 5%; padding-left: 5%; margin-bottom: 0">Quiz vragen</h4>

    <MudExpansionPanels Class="p-4">
        <MudExpansionPanel Text="Hoe werkt de quiz?" MaxHeight="500" Style="background-color: #FE5500; color: white;">
            De quiz bevat vragen over interesses, vaardigheden en voorkeuren. Gebaseerd op je antwoorden, identificeert de app mogelijke carrièrepaden die bij je passen.
        </MudExpansionPanel>
        <MudExpansionPanel Text="Moet ik me voorbereiden voordat ik aan de quiz begin?" MaxHeight="500" Style="background-color: #FE5500; color: white">
            Niet per se. De quiz is ontworpen om intuïtieve antwoorden te verkrijgen op basis van je natuurlijke reacties en voorkeuren.
        </MudExpansionPanel>
    </MudExpansionPanels>
</div>


@code {

}
