@page "/quiz"
<style>
    /*This must be on this page, if you put this in the css file it won't work anymore*/
    footer {
        display: none;
    }
</style>
<p class="header">STANDAARD QUIZ</p>
<hr class="line" />
<StandardQuestionCard></StandardQuestionCard>