@page "/recruiteroverview"
@inject NavigationManager NavigationManager;

<div id="page-div" class="bg-light vh-100">
    <p class="header pt-5 mb-2">RECRUITER OVERVIEW PAGE</p>
    <hr class="line mb-5" />
    <RecruiterOverview></RecruiterOverview>
    <div class="home-div">
        <MudFab Color="Color.Primary" Icon="@Icons.Material.Filled.Home" Size="MudBlazor.Size.Small" @onclick="() => OnHomeClick()" />
    </div>
</div>