@page "/recruiteroverview"
<style>
    /*This must be on this page, if you put this in the css file it won't work anymore*/
    footer {
        display: none;
    }
</style>
<div class="bg-light vh-100">
    <p class="header pt-5 mb-2">RECRUITER OVERVIEW PAGE</p>
    <hr class="line mb-5" />
    <RecruiterOverview></RecruiterOverview>
</div>