@page "/studycourseoverview"
<div class="vh-100 parentDiv">
    <p class="header pt-5 mb-2">STUDY COURSE OVERVIEW PAGE</p>
    <hr class="line mb-5" />
    <StudyCourseOverview></StudyCourseOverview>
</div>